################################################################################
# Terraform
################################################################################

# Terraform working directory
**/.terraform/*

# Terraform state
*.tfstate
*.tfstate.*

# Terraform crash logs
crash.log
crash.*.log

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

################################################################################
# Terraform Plans
################################################################################

*.tfplan
plan.out

################################################################################
# Terraform Variable Files
################################################################################

# Never commit secrets
*.auto.tfvars
*.auto.tfvars.json

# Local variable files
terraform.tfvars

################################################################################
# Terraform CLI configuration
################################################################################

.terraformrc
terraform.rc

################################################################################
# Azure Authentication
################################################################################

.azure/

################################################################################
# Visual Studio Code
################################################################################

.vscode/

################################################################################
# Python
################################################################################

__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
env/

################################################################################
# Operating Systems
################################################################################

.DS_Store
Thumbs.db

################################################################################
# Logs
################################################################################

*.log

################################################################################
# Keep these files
################################################################################

!.terraform.lock.hcl
